{
  "presets": [
		[ "@babel/preset-env",
			{
        "useBuiltIns": "entry"
      }
		],
		[
			"@emotion/babel-preset-css-prop",
			{
				"autoLabel": true,
			  "labelFormat": "[local]"
			}
		]
  ],
  "plugins": [
    [
			"@babel/plugin-transform-react-jsx",
			{
      	"pragma": "wp.element.createElement"
			}
		],
		[
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
